.arrow {
  display: block;
  position: relative;
  width: 18px;
  height: 1px;
  background-color: #ffffff;
}
.arrow::before,
.arrow::after {
  position: absolute;
  right: -.5px;
  content: "";
  width: 8px;
  height: 1px;
  background-color: #ffffff;
}
.arrow::before {
  top: -3px;
  transform: rotate(45deg);
}
.arrow::after {
  top: 3px;
  transform: rotate(-45deg);
}