.header__menu-item_type_row-submenu {
  padding: 10px 10px;
  margin: 0;
}

/* .header__menu-item_type_row-submenu:first-child {
  margin-top: 48px;
} */

.header__menu-item_type_row-submenu:hover {
  background-color: #009FAC;
}
