.about__news-container {
  padding-bottom: 40px;
  overflow: hidden;
}

@media screen and (min-width: 720px) {
  .about__news-container {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1080px) {
  .about__news-container {
    padding-bottom: 80px;
  }
}
