.news-card {
  width: 288px;
  height: 250px;
  background-color: #E0F0FF;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  margin-top: 12px;
}

@media screen and (min-width: 720px) {
  .news-card {
    width: 330px;
    height: 340px;
    margin-top: 25px;
  }
}
