.header__row-package_active {
  min-width: 100vw;
  max-width: 1440px;
  min-height: 44px;
  background-color: #000D26;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 720px) {
  .header__row-package_active {
    min-height: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .header__row-package_active {
    min-height: 80px;
  }
}