.intro__subtitle {
  margin: 16px 0 0 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  max-width: 288px;
}

@media screen and (min-width: 720px) {
  .intro__subtitle {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: .1px;
    margin: 16px 0 0 39px;
  }
}
