.lab-branch__image {
  grid-area: image;
  width: 268px;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
 .lab-branch__image {
  width: 199px;
  height: 414px;
  margin-right: 20px;
 } 
}