.branch {
  border-radius: 5.46px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  box-shadow: 0px 2.35349px 11.7674px rgba(1, 54, 157, 0.15);
}

@media screen and (min-width: 768px) {
  .branch {
    padding: 12px;
    background-image: url(../../images/Lab/Project.jpg);
    border-radius: 5.88px;
    background-size: cover;
  }
}

.branch::before {
  content: '';
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 5.88px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}