.header__close-btn_visible {
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  background-image: url(../../../../images/about/close.svg);
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}