.header__burger-menu {
  border: none;
  position: absolute;
  top: 10px;
  left: 16px;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/about/burger-menu.svg);
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 720px) {
  .header__burger-menu {
    top: 18px;
    left: 39px;
  }
}

@media screen and (min-width: 1280px) {
  .header__burger-menu {
    display: none;
  }
}