.header__menu-item {
  /* padding: 30px 0 30px 0; */
  margin: 0 0 0 16px;
  position: relative;
}

.header__menu-item:hover .header__row-submenu {
  visibility: visible;
}

@media screen and (min-width: 1280px) {
  .header__menu-item {
    padding: 30px 0 30px 0;
  }
}