.intro__button {
  margin: 50px 0 77px 16px;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
  width: 288px;
  height: 44px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.intro__button:hover {
  cursor: pointer;
  border: 1px solid rgba(224, 240, 255, 1);
  color: rgba(224, 240, 255, 1);
}

@media screen and (min-width: 720px) {
  .intro__button {
    width: 330px;
    height: 60px;
    margin: 40px 0 120px 39px;
  }
}
