.publication__nav-btn{
  display: none;
}
@media screen and (min-width: 1439px) {
  .publication__nav-btn {
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    top: 264px;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(1, 54, 157, 0.15);
    border-radius: 100%;
    border: none;
    padding: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transition: all .15s ease-in;
    cursor: pointer;
  }
  .publication__nav-btn:hover{
    background-color: #009FAC;
  }
}