.intro {
  position: relative;
  overflow: hidden;
}

.intro::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(../../images/Background.png);
  background-size: cover;
  background-position: bottom right;
  transform: scaleX(-1);
}

@media screen and (min-width: 720px) {
  .intro::before {
    left: -20%;
    top: -20%;
    width: 150%;
    height: 150%;
    background-position: top right;
  }
}
