.intro {
  position: relative;
  overflow: hidden;
}

.intro::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(../../images/Background.png);
  background-size: cover;
  background-position: right;
  transform: scaleX(-1);
}

@media screen and (min-width: 720px) {
  .intro::before {
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
  }
}
