.logo_type_container {
  width: 71px;
  height: 24px;
  margin-right: calc((100% / 2) - 35px);
}

@media screen and (min-width: 720px) {
  .logo_type_container {
    width: 95px;
    height: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .logo_type_container {
    width: 150px;
    height: 54px;
    margin: 0 0 0 10%;
  }
}