.logo_type_close-menu {
  display: block;
  width: 71px;
  height: 24px;
  margin: 10px auto;
}

@media screen and (min-width: 720px) {
  .logo_type_close-menu {
    width: 95px;
    height: 32px;
    margin: 14px auto;
  }
}

@media screen and (min-width: 1280px) {
  .logo_type_close-menu {
    width: 150px;
    height: 54px;
    margin: 13px 0;
  }
}